In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('energy_data.csv')
df.head()

,building_type,square_footage,number_occupants,appliances_used,average_temperature,is_weekend,energy_consumption
0,residential,7063,76,10,29.84,0,2713.95
1,commercial,44372,66,45,16.72,0,5744.99
2,industrial,19255,37,17,14.30,1,4101.24
3,residential,13265,14,41,32.82,0,3009.14
4,commercial,13375,26,18,11.92,0,3279.17

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   building_type        1100 non-null   object
 1   square_footage       1100 non-null   int64
 2   number_occupants     1100 non-null   int64
 3   appliances_used      1100 non-null   int64
 4   average_temperature  1100 non-null   float64
 5   is_weekend           1100 non-null   int64
 6   energy_consumption   1100 non-null   float64
dtypes: float64(2), int64(4), object(1)
memory usage: 60.3+ KB

In [5]:
df.to_csv('wrangled_data.csv', index = False)